<app-nav></app-nav>
<div [ngClass]= "currentClasses">
    <div class="box-notes">
        <div class="notes-container">
            <app-note-box (click)="service.selectNote(note.id)" class="note" *ngFor=" let note of service.notesArray()"
                [desc]="note.desc" [creation-date]="note.lastModify ? note.lastModify : note.creationDate"
                [id]="note.id"></app-note-box>
        </div>
    </div>
    <div class="editor-container">
        <app-editor></app-editor>
    </div>
    <div class="counter-container">
        <app-counters></app-counters>
    </div>
</div>